html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

:root {
  --toastify-color-light: #23245C !important;
  --toastify-text-color-light: #FFF !important;
}

.Toastify__close-button--light{
  color: #FFF !important;
  opacity: 0.5 !important;
}